<div class="mx-3 text-justify text-md-left mt-4 pt-4 mt-md-0 animated fadeIn">
    <div class="contenedor animated fadeIn fast">
        <h3 style="margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;font-size: 1.75rem;">Mas Opciones</h3>
        <hr />
        <div class="container">
            <div class="row" style="margin: 14% 1% 1% 0%;">
                <div class="col-md-6">
                    <button class="btn btn-outline-dark btn-lx px-5 btn-cool" [routerLink]="['/devolucion-guia']">
                        Devolución de Guía</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-outline-dark btn-lx px-5 btn-cool btn-cool2" [routerLink]="['/creacion-avisos']">
                        Creación de Avisos para las Guías</button>
                </div>
                <!-- <div class="col-md-6 align-items-center">
                    <button class="btn btn-outline-dark btn-lx px-5 btn-cool btn-cool3" [routerLink]="['/cancelacion-masiva']">
                    Cancelación Masiva de Guías</button>
                </div> -->
            </div>
        </div>
    </div>