<div class="mx-3 text-justify text-md-left mt-4 pt-4 mt-md-0 animated fadeIn">
    <div class="contenedor animated fadeIn fast">
        <h3 style="margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;font-size: 1.75rem;">Ayuda</h3>
        <hr />
        <div class="container">
            <div class="row" style="margin: 0 1% 1% 0%;">
                <div class="col-md-6">
                    <a [routerLink]="['/aclaraciones']">
                        <button class="btn btn-outline-dark btn-lx px-5 btn-cool btn-cool7">
                            Aclaraciones de Atención a Clientes</button> </a>
                </div>
                <div class="col-md-6">
                    <a [routerLink]="['/aclaracion-cobranza']">
                        <button class="btn btn-outline-dark btn-lx px-5 btn-cool btn-cool7">
                            Aclaraciones de Cobranza</button> </a>
                </div>
                <div class="col-md-6">
                    <a [routerLink]="['/material-envio']">
                        <button class="btn btn-outline-dark btn-lx px-5 btn-cool btn-cool2">
                        Material de Envío</button> </a>
                </div>
                <div class="col-md-6">
                    <a href="https://globalpaq.com/servicios.html" target="_blank" rel="noopener noreferrer"> <button
                            class="btn btn-outline-dark btn-lx px-5 btn-cool btn-cool3">
                            Cargos adicionales</button> </a>
                </div>
                <div class="col-md-6">
                    <a href="https://globalpaq.com/servicios.html#informacion-util-para-tu-envio" target="_blank"
                        rel="noopener noreferrer">
                        <button class="btn btn-outline-dark btn-lx px-5 btn-cool btn-cool4">
                            Información Útil para Envíos</button> </a>
                </div>
                <div class="col-md-6">
                    <a href="https://globalpaq.com/ayuda.html" target="_blank" rel="noopener noreferrer">
                        <button class="btn btn-outline-dark btn-lx px-5 btn-cool btn-cool5">
                            Preguntas Frecuentes</button> </a>
                </div>
                <div class="col-md-6">
                    <a href="https://globalpaq.com/nacionales.html" target="_blank" rel="noopener noreferrer"> <button
                            class="btn btn-outline-dark btn-lx px-5 btn-cool btn-cool6">
                            Articulos Prohíbidos</button> </a>
                </div>
            </div>
        </div>
    </div>
</div>