@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?9294526');
  src: url('../font/fontello.eot?9294526#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?9294526') format('woff2'),
       url('../font/fontello.woff?9294526') format('woff'),
       url('../font/fontello.ttf?9294526') format('truetype'),
       url('../font/fontello.svg?9294526#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?9294526#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-help:before { content: '\e801'; } /* '' */
.icon-help-circled-1:before { content: '\e801'; } /* '' */
.icon-attention-circled:before { content: '\e802'; } /* '' */
.icon-attention:before { content: '\e803'; } /* '' */
.icon-ok-1:before { content: '\e804'; } /* '' */
.icon-bookmark-1:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-bookmark:before { content: '\e807'; } /* '' */
.icon-floppy-1:before { content: '\e808'; } /* '' */
.icon-box-1:before { content: '\e809'; } /* '' */
.icon-search-1:before { content: '\e80a'; } /* '' */
.icon-torso-1:before { content: '\e80b'; } /* '' */
.icon-key:before { content: '\e80c'; } /* '' */
.icon-right-open:before { content: '\e80d'; } /* '' */
.icon-home-outline:before { content: '\e80e'; } /* '' */
.icon-mail:before { content: '\e80f'; } /* '' */
.icon-truck:before { content: '\e810'; } /* '' */
.icon-calculator:before { content: '\e811'; } /* '' */
.icon-basket:before { content: '\e812'; } /* '' */
.icon-clipboard:before { content: '\e813'; } /* '' */
.icon-credit-card:before { content: '\e814'; } /* '' */
.icon-switch:before { content: '\e815'; } /* '' */
.icon-location-outline:before { content: '\e816'; } /* '' */
.icon-user-add-outline:before { content: '\e817'; } /* '' */
.icon-user:before { content: '\e818'; } /* '' */
.icon-down-open:before { content: '\e819'; } /* '' */
.icon-phone-outline:before { content: '\e81a'; } /* '' */
.icon-plus-circled:before { content: '\e81b'; } /* '' */
.icon-pin:before { content: '\e81c'; } /* '' */
.icon-ok-circled:before { content: '\e81d'; } /* '' */
.icon-cancel-circled:before { content: '\e81e'; } /* '' */
.icon-left-open:before { content: '\e81f'; } /* '' */
.icon-floppy:before { content: '\e820'; } /* '' */
.icon-box:before { content: '\e821'; } /* '' */
.icon-info-circled:before { content: '\e822'; } /* '' */
.icon-download:before { content: '\e823'; } /* '' */
.icon-bell:before { content: '\e824'; } /* '' */
.icon-attention-circled-2:before { content: '\e825'; } /* '' */
.icon-pencil:before { content: '\e826'; } /* '' */
.icon-cog-alt:before { content: '\e827'; } /* '' */
.icon-spin2:before { content: '\e828'; } /* '' */
.icon-spin3:before { content: '\e829'; } /* '' */
.icon-download-4:before { content: '\e82a'; } /* '' */
.icon-menu:before { content: '\e82b'; } /* '' */
.icon-code:before { content: '\e82c'; } /* '' */
.icon-shield:before { content: '\e82d'; } /* '' */
.icon-ticket:before { content: '\e82e'; } /* '' */
.icon-youtube-play:before { content: '\e82f'; } /* '' */
.icon-file-pdf:before { content: '\e830'; } /* '' */
.icon-file-excel:before { content: '\e831'; } /* '' */
.icon-search:before { content: '\e832'; } /* '' */
.icon-torso:before { content: '\e833'; } /* '' */
.icon-paper-plane:before { content: '\e834'; } /* '' */
.icon-paper-plane-empty:before { content: '\e835'; } /* '' */
.icon-trash:before { content: '\e836'; } /* '' */
.icon-shopping-bag:before { content: '\e837'; } /* '' */
.icon-address-book:before { content: '\e838'; } /* '' */
.icon-user-circle-o:before { content: '\e839'; } /* '' */
.icon-twitter:before { content: '\e83a'; } /* '' */
.icon-facebook-squared:before { content: '\e83b'; } /* '' */
.icon-instagram:before { content: '\e83c'; } /* '' */
.icon-comment:before { content: '\e83d'; } /* '' */
.icon-eye:before { content: '\e83e'; } /* '' */
.icon-minus-circled:before { content: '\e83f'; } /* '' */
.icon-help-circled:before { content: '\e840'; } /* '' */