<div class="mx-3 text-justify text-md-left mt-4 pt-4 mt-md-0 animated fadeIn">
    <div class="contenedor animated fadeIn">
        <h3>Ayudanos a mejorar ..!</h3>
        <hr />
    </div>
</div>
<div class="row justify-content-center px-2 px-md-0">
    <div class="col-md-6">
            <mat-form-field class="w-100">
                <mat-label>Modulo</mat-label>
                <mat-select name="t" #t  [(ngModel)]="selectTipo">
                    <mat-option value="1">Inicio</mat-option>
                    <mat-option value="2">Nuevo Envio</mat-option>
                    <mat-option value="3">Cotizar</mat-option>
                    <mat-option value="4">Tienda</mat-option>
                    <mat-option value="5">Pedidos</mat-option>
                    <mat-option value="6">Formas de Pago</mat-option>
                    <mat-option value="7">Movimientos</mat-option>
                    <mat-option value="8">Cobertura</mat-option>
                    <mat-option value="9">Usuarios Adicionales</mat-option>
                    <mat-option value="10">Globalpaq API</mat-option>
                    <mat-option value="11">Guias por Cupon</mat-option>
                    <mat-option value="12">Nueva Recoleccion</mat-option>
                    <mat-option value="13">Ayuda - Aclaracion de Atencion a Clientes</mat-option>
                    <mat-option value="14">Ayuda - Aclaracion de Cobranza</mat-option>
                    <mat-option value="15">Ayuda - Material de envio</mat-option>
                    <mat-option value="16">Mas Opciones - Devolucion de Guia</mat-option>
                    <mat-option value="17">Mas Opciones - Creacion de Avisos para las Guias</mat-option>
                    <mat-option value="18">Mas Opciones - Cancelacion Masiva de Guìas</mat-option>
                    <mat-option value="19">Perfil - Estado de Cuenta</mat-option>
                    <mat-option value="20">Perfil - Saldo Prepago</mat-option>
                    <mat-option value="21">Perfil - Datos de Usuario</mat-option>
                </mat-select>
            </mat-form-field>
    </div>
</div>
<div class="row justify-content-center px-2 px-md-0">
    <div class="col-md-6 ">
            <mat-form-field class="w-100">
                <mat-label>Deja tu comentario</mat-label>
                <textarea matInput name="comentario" [(ngModel)]="comentario"></textarea>
            </mat-form-field>
        </div>
</div>
<div class="row justify-content-center px-2 px-md-0">
    <div class="col-md-4">
        <div>
            <button class="btn btn-outline-success btn-block" (click)="enviarComentario()"><span class="icon-paper-plane-empty"> Enviar</span></button>
        </div>
    </div>
</div>