<footer class="footer bg-light">
    <div class="border-top shadow ">
        <div class="container py-3 pr-5">
            <div class="row">
                <div class="col-md-6">
                    <span class="ml-3"><b>Globalpaq Inc &#174;</b></span>
                </div>

                <div class="col-md-6 text-md-right d-md-flex justify-content-md-end">
                    <a href="https://globalpaq.com/aviso-de-privacidad.html" class="text-secondary mr-4 d-block ml-3">Aviso de Privacidad</a>
                    <a href="https://globalpaq.com/terminos-y-condiciones.html" class="text-secondary ml-3">Terminos y Condiciones</a>
                </div>
            </div>
        </div>
    </div>
</footer>